.container-timer {
  padding-top: 60px;
  font-family: Gothic;
  position: relative;
  margin: auto;
  overflow: hidden; }
  @media (min-width: 768px) {
    .container-timer {
      width: 650px; } }

.launch {
  font-family: Gothic;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #f6f4f3; }
  @media (min-width: 500px) {
    .launch {
      font-size: 40px; } }

.clock-info {
  font-size: 25px;
  font-family: Gothic;
  line-height: 30px; }

.clock {
  letter-spacing: 1px;
  position: relative;
  top: -18px;
  height: 50px;
  font-size: 80px; }

.clock-footer {
  top: 20px;
  width: 300px;
  margin: auto;
  position: relative;
  font-size: 22px;
  font-family: Gothic;
  font-style: oblique; }

.social-vert {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 24px;
  height: 100px;
  padding: 1px;
  position: fixed;
  left: 2%;
  top: 40%;
  border-radius: 10px;
  border: 1px solid #f6f4f3;
  background-color: #640387;
  z-index: 100; }
  @media (min-width: 500px) {
    .social-vert {
      display: flex;
      width: 30px; } }

#timer {
  color: #f6f4f3;
  text-align: center;
  text-transform: uppercase;
  font-family: Gothic;
  font-size: 0.5em;
  letter-spacing: 0px;
  margin-top: 10%; }
  @media (min-width: 500px) {
    #timer {
      font-size: 0.7em; } }

.days,
.hours,
.minutes,
.seconds {
  font-family: Gothic;
  display: inline-block;
  border-radius: 5px; }
  @media (min-width: 500px) {
    .days,
    .hours,
    .minutes,
    .seconds {
      margin-left: 0;
      margin-right: 0; } }

.numbers {
  font-family: "Montserrat", sans-serif;
  color: #f6f4f3;
  font-size: 4em; }

.days .numbers::after,
.hours .numbers::after,
.minutes .numbers::after,
.seconds .numbers::after {
  content: ": "; }

@media (min-width: 500px) {
  .days,
  .hours,
  .minutes,
  .seconds {
    margin-left: 0;
    margin-right: 0; } }

.seconds .numbers::after {
  content: "" !important; }

.white {
  position: absolute;
  background: #f6f4f3;
  height: 85px;
  left: 30%;
  top: 2%; }
  .white .triangle {
    border-bottom: 14px solid black; }
  .white .string {
    background: black;
    border: 1px solid black; }

.red {
  position: absolute;
  background: #ef2f3c;
  left: 18%;
  top: 9%;
  height: 65px; }
  .red .triangle {
    border-bottom: 14px solid #ef2f3c; }
  .red .string {
    background: #ef2f3c;
    border: 1px solid #ef2f3c; }

.blue {
  position: absolute;
  background: #276fbf;
  height: 80px;
  left: 50%;
  top: 5%; }
  .blue .triangle {
    border-bottom: 14px solid #276fbf; }
  .blue .string {
    background: #276fbf;
    border: 1px solid #276fbf; }

.balloon {
  border: 1px solid #000;
  border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
  z-index: 2; }
  @media (max-width: 560px) {
    .balloon {
      display: none; } }

.eye {
  position: absolute;
  height: 7px;
  top: 40%;
  left: 22%;
  background: #000;
  border-radius: 50%; }
  .eye:after {
    content: "";
    left: 35px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    position: absolute; }

.mouth {
  position: absolute;
  top: 45%;
  left: 43%;
  width: 7px;
  height: 7px;
  border-radius: 50%; }

.happy {
  border: 2px solid;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg); }

.triangle {
  position: absolute;
  left: 40%;
  bottom: -10%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent; }

.string {
  position: absolute;
  height: 70px;
  width: 1px;
  left: 48%;
  top: 100%;
  z-index: -1; }

.star {
  width: 20px;
  height: 20px;
  background: #f6f4f3;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }

.star-red {
  width: 30px;
  height: 30px;
  margin-left: 51px;
  margin-top: -5px;
  background: #ef2f3c;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
