._dot {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}
._inline-dot{
    display: inline-block;
}

._round-button{
    border-radius: 5em!important;
}
.progress--height-2{
    height:5px;
}

.whatsapp-logo {
    height: 70px;
    width: 70px;
    z-index: 100;
}

.floating {
    position: fixed;
    left: 10px;
    bottom: 10px;
}
