.coinbacks-carousel {
  .slick-slide {
    height: 230px;
    @media (min-width: 500px) {
      height: 330px;
    }
  }
}

.img-cb {
  height: 150px !important;

  @media (min-width: 500px) {
    height: 250px !important;
  }
}

nav {
    justify-content: center!important;
}

.menu-toggle {
    position: fixed;
    right: 5px;
}
price-selector {
  position: fixed;
  left: 10px;
}

#pricesCollapse {
  position: fixed;
  @media (min-width: 500px) {
    left: 10px;
  }
  top: 70px;
}
