* {
  box-sizing: border-box;
  font-family: Gothic;
}


:root {
  --width: 300px;
  --height: 100px;
  --top-color: #f44336;
  --bottom-color: #2196F3;
}

@font-face {
  font-family: Gothic;
  src: url("../assets/fonts/warsawgothic.otf") format("opentype");
}

a {
  text-decoration: none;
  color: white!important;
}

a:visited {
  text-decoration: none;
}

.img {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}
.info {
  margin-top: 72vw;
  color: #606399;
  font-size: 20px;
  text-align: center;
}
.info > h1 {
  font-size: 20px;
}

.row {
  margin-left: 0!important;
  margin-right: 0!important;
}

header {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  background-color: #070E21;
  z-index: 10;
  top: 0;
}
header.opaque {
  position: initial;
}

.logo {
  width: 10%;
}

.brands-container {
  margin-top: 60px;
}

.brand-logo {
  width: 100%;
  font-size: 30px;
  color: white;
}

main {
  background-color: #070E21;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.clock-info {
  font-size: 30px;
  margin-top: 15vw;
  margin-bottom: 0;
  font-family: Gothic;
  line-height-step: 1px;
}


.clock {
  height: 50px;
  width: 100%;
  word-break: keep-all;
  left: 55%;
  color: #C11060;
  font-size: 40px;
  letter-spacing: 5px;
}

.clock-footer {
  margin-top: -10px;
  font-size: 30px;
  font-family: Gothic;
}

.button-outlined {
  border: 2px solid #4E18E2;
  width: 100%;
  max-width: 100%;
  color: #4E18E2;
}

.button-outlined-white {
  border: 2px solid white;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  color: white;
}

.main-desc {
  color: white;
  height: 105vw;
  background-image: url('../assets/images/background-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.desc {
  height: 60vh;
  background-image: url('../assets/images/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.desc-1 {
  margin-top: -1px;
  height: 60vh;
  background-image: url('../assets/images/background-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-social {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #4E18E2;
}

.text-purple {
  color: #606399;
  font-size: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 40px 40px #000000;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul > li {
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  list-style: none;
}

.hidden-md-down {
  display: none;
}

.hidden-md-up {
  display: flex;
}

.menu-toggler {
  font-size: 40px;
  cursor: pointer;
}

.input-container {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  display: flex;
  font-size: 8px;
  justify-content: center;
}

.input-container label {
  color: white;
  margin-bottom: 0;
}

.input-container input {
  background-color: transparent;
  outline: none;
  border: none;
  flex: 1;
  color: white;
}

.download-btn {
  max-width: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #5f019e;
  width: 300px;
  transition: all ease-in 0.2s;
  padding: 5px 5px;
}

.download-btn:hover {
  background-color: transparent;
  border: 2px solid purple;
}

.menu {
  position: relative;
  background-color: #0b205c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  z-index: 10;
  visibility: hidden;
  transition: height ease-out 0.1s;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: url('../assets/images/background-menu.png');
  box-shadow: 0px 20px 20px 0px #000000;
}

.menu a {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: start;
  font-weight: 700;
}

.menu-item {
  color: white;
  border-bottom: 1px solid white;
}

.menu.open {
  visibility: visible;
  width: 100%;
  height: 200px;
}

.map-container {
  background-image: url('../assets/images/map-transparent.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -40px;
  background-position-x: -20px;
}

.phone-container {
  background-image: url('../assets/images/phone-transparent.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.img-floating {
  position: absolute;
  width: 100%;
}

@media (min-width: 768px) {

  .clock {
    font-size: 20px;
  }

  .map-container{
    background-position-x: 0px;
    background-position-y: -200px;
  }

  .img {
    width: 75%;
    height: auto;
    max-width: unset;
    max-height: unset;
  }

  .md-p-10 {
    padding: 100px 100px!important;
  }

  .md-p-5 {
    padding: 50px 50px!important;
  }

  .hidden-md-up {
    display: none;
  }

  .menu-toggler {
    display: none;
  }

  .menu-item {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition-duration: 0.3s;
    font-size: 20px;
  }

  .menu-item:hover{ 
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
  }
  
  .hidden-md-down {
    display: flex;
  }
}
