* {
  box-sizing: border-box;
  color: white;
}

a {
  text-decoration: none;
  color: white!important;
}

a:visited {
  text-decoration: none;
}

.img {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}
.info {
  padding-left: 20px!important;
}
.info > h1 {
  font-size: 20px;
}

.row {
  margin-left: 0!important;
  margin-right: 0!important;
}

header {
  height: 90px;
  width: 100%;
  background-color: #070E21;
  z-index: 10;
  position: fixed;
  top: 0;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

header.opaque {
  position: initial;
}

.logo {
  width: 10%;
  max-width: 50px;
}

.brands-container {
  margin-top: 60px;
}

.brand-logo {
  width: 100%;
}

main {
  padding: 15px;
  background-color: #070E21;
  margin-top: -90px;
  padding-top: 90px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main-desc {
  height: 60vh;
  background-image: url('https://images.squarespace-cdn.com/content/v1/54e9bcf0e4b003ce1bd31f1d/1539041611129-GK1T35LQCI3EXW1H49DY/ke17ZwdGBToddI8pDm48kK1sQoW6KlGRsxnGBzrkXDsUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dkv3RD5EVOqX413-LZmMQgkgECT1AMHBwZnWiWxjKnM8JvwGh1qtNWvMhYKnvaKhbA/1_m_b1W3dyZZgkBVbOMUMa8Q.jpg?format=2500w');
  background-size: cover;
  width: 100vw;
  margin-left: -15px!important;
  box-shadow: 10px 10px 40px 40px #070E20;
}

.logo-social {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #4E18E2;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 40px 40px #000000;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul > li {
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  list-style: none;
}

.hidden-md-down {
  display: none;
}

.hidden-md-up {
  display: flex;
}

.menu-toggler {
  font-size: 40px;
  cursor: pointer;
}

.clock {
  position: absolute;
  top: 50%;
  width: 100%;
  word-break: keep-all;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
  color: #17D4FE;
  font-size: 15px;
  font-family: Orbitron;
  letter-spacing: 5px;
}

.download-btn {
  max-width: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #5f019e;
  width: 300px;
  transition: all ease-in 0.2s;
  padding: 5px 5px;
}

.download-btn:hover {
  background-color: transparent;
  border: 2px solid purple;
}

.menu {
  position: relative;
  background-color: #0b205c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  z-index: 10;
  visibility: hidden;
  transition: height ease-in 0.1s;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: url('../assets/images/background-menu.png');
  box-shadow: 0px 20px 20px 0px #000000;
}

.menu a {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: start;
  font-weight: 700;
}

.menu-item {
  color: white;
  border-bottom: 1px solid white;
}

.menu.open {
  visibility: visible;
  height: 200px;
}

.map-container {
  background-image: url('../assets/images/map-transparent.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -40px;
  background-position-x: -20px;
}

@media (min-width: 768px) {

  .clock {
    font-size: 20px;
  }

  .map-container{
    background-position-x: 0px;
    background-position-y: -200px;
  }

  .img {
    width: 75%;
    height: auto;
    max-width: unset;
    max-height: unset;
  }

  .md-p-10 {
    padding: 100px 100px!important;
  }

  .md-p-5 {
    padding: 50px 50px!important;
  }

  .hidden-md-up {
    display: none;
  }

  .menu-toggler {
    display: none;
  }

  .menu-item {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition-duration: 0.3s;
    font-size: 20px;
  }

  .menu-item:hover{ 
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
  }
  
  .hidden-md-down {
    display: flex;
  }
}
